$color_1: #fff;
$color_2: #2f4d5a;
$color_3: #67b0d1;
$color_4: rgba(var(--color-white-rgb), 0.5);
$font-family_1: "Poppins", sans-serif;
$font-family_2: "Raleway", sans-serif;
$background-color_1: #fff;

#header {
	transition: all 0.5s;
	z-index: 997;
	transition: all 0.5s;
	padding: 24px 0;
	background: rgba(103, 176, 209, 0.8);
	.logo {
		h1 {
			font-size: 24px;
			margin: 0;
			line-height: 1;
			font-weight: 700;
			letter-spacing: 1px;
			font-family: $font-family_1;
			text-transform: uppercase;
			a {
				color: $color_1;
				text-decoration: none;
				&:hover {
					color: $color_1;
					text-decoration: none;
				}
			}
		}
		img {
			padding: 0;
			margin: 0;
			max-height: 40px;
		}
	}
}
#header.header-transparent {
	background: transparent;
}
#header.header-scrolled {
	background: rgba(55, 142, 181, 0.9);
	padding: 12px;
}
.navbar {
	padding: 0;
	position: static;
	ul {
		margin: 0;
		padding: 0;
		display: flex;
		list-style: none;
		align-items: center;
	}
	li {
		position: relative;
		&:hover {
			>a {
				background: rgba(255, 255, 255, 0.2);
			}
		}
	}
	a {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 8px 16px;
		margin-left: 10px;
		font-family: $font-family_2;
		font-size: 16px;
		font-weight: 700;
		color: $color_1;
		white-space: nowrap;
		transition: 0.3s;
		&:focus {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 8px 16px;
			margin-left: 10px;
			font-family: $font-family_2;
			font-size: 16px;
			font-weight: 700;
			color: $color_1;
			white-space: nowrap;
			transition: 0.3s;
			i {
				font-size: 12px;
				line-height: 0;
				margin-left: 5px;
			}
		}
		i {
			font-size: 12px;
			line-height: 0;
			margin-left: 5px;
		}
		&:hover {
			background: rgba(255, 255, 255, 0.2);
		}
	}
	.active {
		background: rgba(255, 255, 255, 0.2);
		&:focus {
			background: rgba(255, 255, 255, 0.2);
		}
	}
	.dropdown {
		ul {
			display: block;
			position: absolute;
			left: 10px;
			top: calc(100% + 30px);
			margin: 0;
			padding: 10px 0;
			z-index: 99;
			opacity: 0;
			visibility: hidden;
			background: #fff;
			box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
			transition: 0.3s;
			li {
				min-width: 200px;
				&:hover {
					>a {
						color: $color_3;
					}
				}
			}
			a {
				padding: 10px 20px;
				font-size: 15px;
				text-transform: none;
				font-weight: 600;
				color: $color_2;
				i {
					font-size: 12px;
				}
				&:hover {
					color: $color_3;
				}
			}
			.active {
				&:hover {
					color: $color_3;
				}
			}
		}
		&:hover {
			>ul {
				opacity: 1;
				top: 100%;
				visibility: visible;
			}
		}
		.dropdown {
			ul {
				top: 0;
				left: calc(100% - 30px);
				visibility: hidden;
			}
			&:hover {
				>ul {
					opacity: 1;
					top: 0;
					left: 100%;
					visibility: visible;
				}
			}
		}
	}
	.megamenu {
		position: static;
		ul {
			margin: 0;
			padding: 10px;
			display: block;
			position: absolute;
			top: 130%;
			left: 0;
			right: 0;
			visibility: hidden;
			opacity: 0;
			display: flex;
			transition: 0.3s;
			border-radius: 4px;
			z-index: 99;
			li {
				flex: 1;
				strong {
					padding: 10px 0 10px 20px;
					display: block;
				}
				a {
					color: $color_4;
					background: none;
					padding: 8px 10px;
					&:hover {
						color: $color_3;
					}
				}
				&:hover {
					>a {
						color: $color_4;
						background: none;
						padding: 8px 10px;
					}
				}
				.active {
					color: $color_3;
					&:hover {
						color: $color_3;
					}
				}
			}
		}
		&:hover {
			>ul {
				opacity: 1;
				top: 100%;
				visibility: visible;
			}
		}
	}
}
.mobile-nav-toggle {
	color: $color_1;
	font-size: 28px;
	cursor: pointer;
	display: none;
	line-height: 0;
	transition: 0.5s;
}
.navbar-mobile {
	position: fixed;
	overflow: hidden;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: rgba(43, 111, 142, 0.9);
	transition: 0.3s;
	.mobile-nav-toggle {
		position: absolute;
		top: 15px;
		right: 15px;
	}
	ul {
		display: block;
		position: absolute;
		top: 55px;
		right: 15px;
		bottom: 15px;
		left: 15px;
		padding: 10px 0;
		background-color: $background-color_1;
		overflow-y: auto;
		transition: 0.3s;
	}
	a {
		padding: 10px 20px;
		font-size: 15px;
		color: $color_2;
		&:focus {
			padding: 10px 20px;
			font-size: 15px;
			color: $color_2;
		}
		&:hover {
			color: $color_3;
		}
	}
	.active {
		color: $color_3;
	}
	li {
		&:hover {
			>a {
				color: $color_3;
			}
		}
	}
	.getstarted {
		margin: 15px;
		&:focus {
			margin: 15px;
		}
	}
	.dropdown {
		ul {
			position: static;
			display: none;
			margin: 10px 20px;
			padding: 10px 0;
			z-index: 99;
			opacity: 1;
			visibility: visible;
			background: #fff;
			box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
			li {
				min-width: 200px;
				&:hover {
					>a {
						color: $color_3;
					}
				}
			}
			a {
				padding: 10px 20px;
				i {
					font-size: 12px;
				}
				&:hover {
					color: $color_3;
				}
			}
			.active {
				&:hover {
					color: $color_3;
				}
			}
		}
		>.dropdown-active {
			display: block;
		}
	}
	.megamenu {
		ul {
			li {
				a {
					color: $color_4;
					background: none;
					&:hover {
						color: $color_3;
					}
				}
				&:hover {
					>a {
						color: $color_4;
						background: none;
					}
				}
				.active {
					color: $color_3;
					&:hover {
						color: $color_3;
					}
				}
			}
		}
	}
}
@media (max-width: 768px) {
	#header.header-scrolled {
		padding: 15px 0;
	}
}
@media (max-width: 1366px) {
	.navbar {
		.dropdown {
			.dropdown {
				ul {
					left: -90%;
				}
				&:hover {
					>ul {
						left: -100%;
					}
				}
			}
		}
	}
}
@media (max-width: 991px) {
	.mobile-nav-toggle {
		display: block;
	}
	.navbar {
		ul {
			display: none;
		}
	}
}
