body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
  }
  
  a {
    text-decoration: none;
    color: #67b0d1;
  }
  
  a:hover {
    color: #8ec4dd;
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Raleway", sans-serif;
  }
  
  #main {
    margin-top: 90px;
  }

  .back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 998;
    background: #67b0d1;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
  }
  
  .back-to-top i {
    font-size: 24px;
    color: #fff;
    line-height: 0;
  }
  
  .back-to-top:hover {
    background: #86c0da;
    color: #fff;
  }
  
  .back-to-top.active {
    visibility: visible;
    opacity: 1;
  }

  $color_1: #444444;
$color_2: #67b0d1;
$color_3: #8ec4dd;
$color_4: #fff;
$color_5: #2f4d5a;
$color_6: rgba(var(--color-white-rgb), 0.5);
$color_7: #6c757d;
$color_8: #848484;
$color_9: #111;
$color_10: #49788c;
$color_11: #6e9fb4;
$color_12: #999;
$color_13: #d5e9f2;
$color_14: #52869d;
$color_15: #777777;
$color_16: #b5d9e9;
$color_17: #a2cfe3;
$font-family_1: "Open Sans", sans-serif;
$font-family_2: "Raleway", sans-serif;
$font-family_3: "Poppins", sans-serif;
$background-color_1: #fff;
$background-color_2: #f4f9fc;
$background-color_3: #f8fbfd;
$background-color_4: #67b0d1;
$border-color_1: #fff;
$border-top-color_1: #eee;

/**
* Template Name: Squadfree
* Updated: May 30 2023 with Bootstrap v5.3.0
* Template URL: https://bootstrapmade.com/squadfree-free-bootstrap-template-creative/
* Author: BootstrapMade.com
* License: https://bootstrapmade.com/license/
*/
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
/**
* Mobile Navigation 
*/
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Cta
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
@keyframes animate-loading {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
body {
	font-family: $font-family_1;
	color: $color_1;
}
a {
	text-decoration: none;
	color: $color_2;
	&:hover {
		color: $color_3;
		text-decoration: none;
	}
}
h1 {
	font-family: $font-family_2;
}
h2 {
	font-family: $font-family_2;
}
h3 {
	font-family: $font-family_2;
}
h4 {
	font-family: $font-family_2;
}
h5 {
	font-family: $font-family_2;
}
h6 {
	font-family: $font-family_2;
}
#main {
	margin-top: 90px;
}
.back-to-top {
	position: fixed;
	visibility: hidden;
	opacity: 0;
	right: 15px;
	bottom: 15px;
	z-index: 998;
	background: #67b0d1;
	width: 40px;
	height: 40px;
	border-radius: 50px;
	transition: all 0.4s;
	i {
		font-size: 24px;
		color: $color_4;
		line-height: 0;
	}
	&:hover {
		background: #86c0da;
		color: $color_4;
	}
}
.back-to-top.active {
	visibility: visible;
	opacity: 1;
}
#header {
	transition: all 0.5s;
	z-index: 997;
	transition: all 0.5s;
	padding: 24px 0;
	background: rgba(103, 176, 209, 0.8);
	.logo {
		h1 {
			font-size: 24px;
			margin: 0;
			line-height: 1;
			font-weight: 700;
			letter-spacing: 1px;
			font-family: $font-family_3;
			text-transform: uppercase;
			a {
				color: $color_4;
				text-decoration: none;
				&:hover {
					color: $color_4;
					text-decoration: none;
				}
			}
		}
		img {
			padding: 0;
			margin: 0;
			max-height: 40px;
		}
	}
}
#header.header-transparent {
	background: transparent;
}
#header.header-scrolled {
	background: rgba(55, 142, 181, 0.9);
	padding: 12px;
}
.navbar {
	padding: 0;
	position: static;
	ul {
		margin: 0;
		padding: 0;
		display: flex;
		list-style: none;
		align-items: center;
	}
	li {
		position: relative;
		&:hover {
			>a {
				background: rgba(255, 255, 255, 0.2);
			}
		}
	}
	a {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 8px 16px;
		margin-left: 10px;
		font-family: $font-family_2;
		font-size: 16px;
		font-weight: 700;
		color: $color_4;
		white-space: nowrap;
		transition: 0.3s;
		&:focus {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 8px 16px;
			margin-left: 10px;
			font-family: $font-family_2;
			font-size: 16px;
			font-weight: 700;
			color: $color_4;
			white-space: nowrap;
			transition: 0.3s;
			i {
				font-size: 12px;
				line-height: 0;
				margin-left: 5px;
			}
		}
		i {
			font-size: 12px;
			line-height: 0;
			margin-left: 5px;
		}
		&:hover {
			background: rgba(255, 255, 255, 0.2);
		}
	}
	.active {
		background: rgba(255, 255, 255, 0.2);
		&:focus {
			background: rgba(255, 255, 255, 0.2);
		}
	}
	.dropdown {
		ul {
			display: block;
			position: absolute;
			left: 10px;
			top: calc(100% + 30px);
			margin: 0;
			padding: 10px 0;
			z-index: 99;
			opacity: 0;
			visibility: hidden;
			background: #fff;
			box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
			transition: 0.3s;
			li {
				min-width: 200px;
				&:hover {
					>a {
						color: $color_2;
					}
				}
			}
			a {
				padding: 10px 20px;
				font-size: 15px;
				text-transform: none;
				font-weight: 600;
				color: $color_5;
				i {
					font-size: 12px;
				}
				&:hover {
					color: $color_2;
				}
			}
			.active {
				&:hover {
					color: $color_2;
				}
			}
		}
		&:hover {
			>ul {
				opacity: 1;
				top: 100%;
				visibility: visible;
			}
		}
		.dropdown {
			ul {
				top: 0;
				left: calc(100% - 30px);
				visibility: hidden;
			}
			&:hover {
				>ul {
					opacity: 1;
					top: 0;
					left: 100%;
					visibility: visible;
				}
			}
		}
	}
	.megamenu {
		position: static;
		ul {
			margin: 0;
			padding: 10px;
			display: block;
			position: absolute;
			top: 130%;
			left: 0;
			right: 0;
			visibility: hidden;
			opacity: 0;
			display: flex;
			transition: 0.3s;
			border-radius: 4px;
			z-index: 99;
			li {
				flex: 1;
				strong {
					padding: 10px 0 10px 20px;
					display: block;
				}
				a {
					color: $color_6;
					background: none;
					padding: 8px 10px;
					&:hover {
						color: $color_2;
					}
				}
				&:hover {
					>a {
						color: $color_6;
						background: none;
						padding: 8px 10px;
					}
				}
				.active {
					color: $color_2;
					&:hover {
						color: $color_2;
					}
				}
			}
		}
		&:hover {
			>ul {
				opacity: 1;
				top: 100%;
				visibility: visible;
			}
		}
	}
}
.mobile-nav-toggle {
	color: $color_4;
	font-size: 28px;
	cursor: pointer;
	display: none;
	line-height: 0;
	transition: 0.5s;
}
.navbar-mobile {
	position: fixed;
	overflow: hidden;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: rgba(43, 111, 142, 0.9);
	transition: 0.3s;
	.mobile-nav-toggle {
		position: absolute;
		top: 15px;
		right: 15px;
	}
	ul {
		display: block;
		position: absolute;
		top: 55px;
		right: 15px;
		bottom: 15px;
		left: 15px;
		padding: 10px 0;
		background-color: $background-color_1;
		overflow-y: auto;
		transition: 0.3s;
	}
	a {
		padding: 10px 20px;
		font-size: 15px;
		color: $color_5;
		&:focus {
			padding: 10px 20px;
			font-size: 15px;
			color: $color_5;
		}
		&:hover {
			color: $color_2;
		}
	}
	.active {
		color: $color_2;
	}
	li {
		&:hover {
			>a {
				color: $color_2;
			}
		}
	}
	.getstarted {
		margin: 15px;
		&:focus {
			margin: 15px;
		}
	}
	.dropdown {
		ul {
			position: static;
			display: none;
			margin: 10px 20px;
			padding: 10px 0;
			z-index: 99;
			opacity: 1;
			visibility: visible;
			background: #fff;
			box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
			li {
				min-width: 200px;
				&:hover {
					>a {
						color: $color_2;
					}
				}
			}
			a {
				padding: 10px 20px;
				i {
					font-size: 12px;
				}
				&:hover {
					color: $color_2;
				}
			}
			.active {
				&:hover {
					color: $color_2;
				}
			}
		}
		>.dropdown-active {
			display: block;
		}
	}
	.megamenu {
		ul {
			li {
				a {
					color: $color_6;
					background: none;
					&:hover {
						color: $color_2;
					}
				}
				&:hover {
					>a {
						color: $color_6;
						background: none;
					}
				}
				.active {
					color: $color_2;
					&:hover {
						color: $color_2;
					}
				}
			}
		}
	}
}
#hero {
	width: 100%;
	height: 100vh;
	background: linear-gradient(rgba(55, 142, 181, 0.5), rgba(55, 142, 181, 0.2)), url("../assets/img/hero-bg.jpg") top center;
	background-size: cover;
	position: relative;
	margin-bottom: -90px;
	.hero-container {
		position: absolute;
		bottom: 0;
		top: 0;
		left: 0;
		right: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-align: center;
	}
	h1 {
		margin: 0 0 10px 0;
		font-size: 64px;
		font-weight: 700;
		line-height: 56px;
		text-transform: uppercase;
		color: $color_4;
		text-shadow: -1px 0 2px #2f4d5a;
	}
	h2 {
		color: $color_4;
		margin-bottom: 50px;
		font-size: 20px;
		text-transform: uppercase;
		font-weight: 700;
		text-shadow: -1px 0 2px #2f4d5a;
	}
	.btn-get-started {
		font-size: 36px;
		display: inline-block;
		padding: 4px 0;
		border-radius: 50px;
		transition: 0.3s ease-in-out;
		margin: 10px;
		width: 64px;
		height: 64px;
		text-align: center;
		border: 2px solid #fff;
		color: $color_4;
		&:hover {
			padding-top: 8px;
			background: rgba(255, 255, 255, 0.15);
		}
	}
}
section {
	padding: 60px 0;
	overflow: hidden;
}
.section-bg {
	background-color: $background-color_2;
}
.section-title {
	text-align: center;
	padding-bottom: 30px;
	h2 {
		font-size: 32px;
		font-weight: bold;
		position: relative;
		margin-bottom: 30px;
		color: $color_5;
		z-index: 2;
		&::after {
			content: "";
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			width: 122px;
			height: 66px;
			background: url('assets/img/section-title-bg.png') no-repeat;
			z-index: -1;
		}
	}
	p {
		margin-bottom: 0;
	}
}
.breadcrumbs {
	padding: 15px 0;
	background-color: $background-color_3;
	min-height: 40px;
	h2 {
		font-size: 24px;
		font-weight: 300;
	}
	ol {
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		padding: 0;
		margin: 0;
		font-size: 14px;
		li+li {
			padding-left: 10px;
			&::before {
				display: inline-block;
				padding-right: 10px;
				color: $color_7;
				content: "/";
			}
		}
	}
}
.about {
	background: url("assets/img/about-bg.jpg") center center no-repeat;
	background-size: cover;
	padding: 60px 0;
	position: relative;
	&::before {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background: rgba(255, 255, 255, 0.75);
		z-index: 9;
	}
	.container {
		position: relative;
		z-index: 10;
	}
	.content {
		padding: 30px 30px 30px 0;
		h3 {
			font-weight: 700;
			font-size: 34px;
			color: $color_5;
			margin-bottom: 30px;
		}
		p {
			margin-bottom: 30px;
		}
		.about-btn {
			display: inline-block;
			background: #67b0d1;
			padding: 6px 44px 8px 30px;
			color: $color_4;
			border-radius: 50px;
			transition: 0.3s;
			position: relative;
			i {
				font-size: 18px;
				position: absolute;
				right: 18px;
				top: 9px;
			}
			&:hover {
				background: #7bbad7;
			}
		}
	}
	.icon-boxes {
		.icon-box {
			margin-top: 30px;
			i {
				font-size: 40px;
				color: $color_2;
				margin-bottom: 10px;
			}
			h4 {
				font-size: 20px;
				font-weight: 700;
				margin: 0 0 10px 0;
			}
			p {
				font-size: 15px;
				color: $color_8;
			}
		}
	}
}
.services {
	.icon-box {
		padding: 30px;
		position: relative;
		overflow: hidden;
		background: #fff;
		box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
		transition: all 0.3s ease-in-out;
		border-radius: 8px;
		z-index: 1;
		&::before {
			content: "";
			position: absolute;
			background: white;
			right: 0;
			left: 0;
			bottom: 0;
			top: 100%;
			transition: all 0.3s;
			z-index: -1;
		}
		&:hover {
			&::before {
				background: #67b0d1;
				top: 0;
				border-radius: 0px;
			}
			.title {
				a {
					color: $color_4;
				}
			}
			.description {
				color: $color_4;
			}
			.icon {
				i {
					color: $color_4;
				}
			}
		}
	}
	.icon {
		margin-bottom: 15px;
		i {
			font-size: 48px;
			line-height: 1;
			color: $color_2;
			transition: all 0.3s ease-in-out;
		}
	}
	.title {
		font-weight: 700;
		margin-bottom: 15px;
		font-size: 18px;
		a {
			color: $color_9;
		}
	}
	.description {
		font-size: 15px;
		line-height: 28px;
		margin-bottom: 0;
	}
}
.counts {
	padding-bottom: 30px;
	.count-box {
		padding: 30px;
		width: 100%;
		i {
			display: block;
			font-size: 44px;
			color: $color_2;
			float: left;
			line-height: 0;
		}
		span {
			font-size: 48px;
			line-height: 40px;
			display: block;
			font-weight: 700;
			color: $color_5;
			margin-left: 60px;
		}
		p {
			padding: 15px 0 0 0;
			margin: 0 0 0 60px;
			font-family: $font-family_2;
			font-size: 14px;
			color: $color_10;
		}
		a {
			font-weight: 600;
			display: block;
			margin-top: 20px;
			color: $color_10;
			font-size: 15px;
			font-family: $font-family_3;
			transition: ease-in-out 0.3s;
			&:hover {
				color: $color_11;
			}
		}
	}
}
.cta {
	background: linear-gradient(rgba(103, 176, 209, 0.8), rgba(103, 176, 209, 0.8)), url("assets/img/cta-bg.jpg") fixed center center;
	background-size: cover;
	padding: 60px 0;
	h3 {
		color: $color_4;
		font-size: 28px;
		font-weight: 700;
	}
	p {
		color: $color_4;
	}
	.cta-btn {
		font-family: $font-family_2;
		text-transform: uppercase;
		font-weight: 500;
		font-size: 16px;
		letter-spacing: 1px;
		display: inline-block;
		padding: 8px 28px;
		border-radius: 25px;
		transition: 0.5s;
		margin-top: 10px;
		border: 2px solid rgba(255, 255, 255, 0.5);
		color: $color_4;
		&:hover {
			border-color: $border-color_1;
		}
	}
}
.portfolio {
	.portfolio-item {
		margin-bottom: 30px;
	}
	#portfolio-flters {
		padding: 0;
		margin: 0 auto 35px auto;
		list-style: none;
		text-align: center;
		background: #ecf5f9;
		border-radius: 50px;
		padding: 2px 15px;
		li {
			cursor: pointer;
			display: inline-block;
			padding: 10px 15px 8px 15px;
			font-size: 14px;
			font-weight: 600;
			line-height: 1;
			text-transform: uppercase;
			color: $color_5;
			margin-bottom: 5px;
			transition: all 0.3s ease-in-out;
			&:hover {
				color: $color_2;
			}
			&:last-child {
				margin-right: 0;
			}
		}
		li.filter-active {
			color: $color_2;
		}
	}
	.portfolio-wrap {
		transition: 0.3s;
		position: relative;
		overflow: hidden;
		z-index: 1;
		&::before {
			content: "";
			background: rgba(255, 255, 255, 0.5);
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			transition: all ease-in-out 0.3s;
			z-index: 2;
			opacity: 0;
		}
		.portfolio-links {
			opacity: 1;
			left: 0;
			right: 0;
			bottom: -60px;
			z-index: 3;
			position: absolute;
			transition: all ease-in-out 0.3s;
			display: flex;
			justify-content: center;
			a {
				color: $color_4;
				font-size: 28px;
				text-align: center;
				background: rgba(103, 176, 209, 0.75);
				transition: 0.3s;
				width: 50%;
				&:hover {
					background: rgba(103, 176, 209, 0.95);
				}
			}
			a+a {
				border-left: 1px solid #8ec4dd;
			}
		}
		&:hover {
			&::before {
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				opacity: 1;
			}
			.portfolio-links {
				opacity: 1;
				bottom: 0;
			}
		}
	}
}
.portfolio-details {
	padding-top: 40px;
	.portfolio-details-slider {
		img {
			width: 100%;
		}
		.swiper-pagination {
			margin-top: 20px;
			position: relative;
			.swiper-pagination-bullet {
				width: 12px;
				height: 12px;
				background-color: $background-color_1;
				opacity: 1;
				border: 1px solid #67b0d1;
			}
			.swiper-pagination-bullet-active {
				background-color: $background-color_4;
			}
		}
	}
	.portfolio-info {
		padding: 30px;
		box-shadow: 0px 0 30px rgba(47, 77, 90, 0.08);
		h3 {
			font-size: 22px;
			font-weight: 700;
			margin-bottom: 20px;
			padding-bottom: 20px;
			border-bottom: 1px solid #eee;
		}
		ul {
			list-style: none;
			padding: 0;
			font-size: 15px;
			li+li {
				margin-top: 10px;
			}
		}
	}
	.portfolio-description {
		padding-top: 30px;
		h2 {
			font-size: 26px;
			font-weight: 700;
			margin-bottom: 20px;
		}
		p {
			padding: 0;
		}
	}
}
.testimonials {
	.testimonials-carousel {
		overflow: hidden;
		overflow: hidden;
	}
	.testimonials-slider {
		overflow: hidden;
		overflow: hidden;
	}
	.testimonial-item {
		box-sizing: content-box;
		text-align: center;
		min-height: 320px;
		.testimonial-img {
			width: 90px;
			border-radius: 50%;
			margin: 0 auto;
		}
		h3 {
			font-size: 18px;
			font-weight: bold;
			margin: 10px 0 5px 0;
			color: $color_9;
		}
		h4 {
			font-size: 14px;
			color: $color_12;
			margin: 0;
		}
		.quote-icon-left {
			color: $color_13;
			font-size: 26px;
			display: inline-block;
			left: -5px;
			position: relative;
		}
		.quote-icon-right {
			color: $color_13;
			font-size: 26px;
			display: inline-block;
			right: -5px;
			position: relative;
			top: 10px;
		}
		p {
			font-style: italic;
			margin: 0 15px 15px 15px;
			padding: 20px;
			background: #fff;
			position: relative;
			margin-bottom: 35px;
			border-radius: 6px;
			box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
			&::after {
				content: "";
				width: 0;
				height: 0;
				border-top: 20px solid #fff;
				border-right: 20px solid transparent;
				border-left: 20px solid transparent;
				position: absolute;
				bottom: -20px;
				left: calc(50% - 20px);
			}
		}
	}
	.swiper-pagination {
		margin-top: 20px;
		position: relative;
		.swiper-pagination-bullet {
			width: 12px;
			height: 12px;
			background-color: $background-color_1;
			opacity: 1;
			border: 1px solid #67b0d1;
		}
		.swiper-pagination-bullet-active {
			background-color: $background-color_4;
		}
	}
}
.team {
	.member {
		text-align: center;
		margin-bottom: 80px;
		position: relative;
		.pic {
			overflow: hidden;
		}
		.member-info {
			position: absolute;
			top: 85%;
			left: 20px;
			right: 20px;
			background: #fff;
			padding: 20px 0;
			color: $color_5;
			box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
			max-height: 95px;
			overflow: hidden;
			transition: max-height 0.5s ease-in-out;
		}
		&:hover {
			.member-info {
				max-height: 300px;
			}
		}
		h4 {
			font-weight: 700;
			margin-bottom: 10px;
			font-size: 16px;
			color: $color_5;
			position: relative;
			padding-bottom: 10px;
			&::after {
				content: "";
				position: absolute;
				display: block;
				width: 50px;
				height: 1px;
				background: #b1cbd7;
				bottom: 0;
				left: calc(50% - 25px);
			}
		}
		span {
			font-style: italic;
			display: block;
			font-size: 13px;
		}
		.social {
			margin-top: 15px;
			a {
				transition: color 0.3s;
				color: $color_14;
				&:hover {
					color: $color_2;
				}
			}
			i {
				font-size: 16px;
				margin: 0 2px;
			}
		}
	}
}
.contact {
	padding-bottom: 80px;
	.info-box {
		color: $color_1;
		background: #fff;
		text-align: center;
		box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
		padding: 20px 0 30px 0;
		i {
			font-size: 32px;
			color: $color_2;
			border-radius: 50%;
			padding: 8px;
			border: 2px dotted #f0f7fa;
		}
		h3 {
			font-size: 20px;
			color: $color_15;
			font-weight: 700;
			margin: 10px 0;
		}
		p {
			padding: 0;
			line-height: 24px;
			font-size: 14px;
			margin-bottom: 0;
		}
	}
	.php-email-form {
		box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
		padding: 30px;
		background: #fff;
		.error-message {
			display: none;
			color: $color_4;
			background: #ed3c0d;
			text-align: left;
			padding: 15px;
			font-weight: 600;
			br+br {
				margin-top: 25px;
			}
		}
		.sent-message {
			display: none;
			color: $color_4;
			background: #18d26e;
			text-align: center;
			padding: 15px;
			font-weight: 600;
		}
		.loading {
			display: none;
			background: #fff;
			text-align: center;
			padding: 15px;
			&:before {
				content: "";
				display: inline-block;
				border-radius: 50%;
				width: 24px;
				height: 24px;
				margin: 0 10px -6px 0;
				border: 3px solid #18d26e;
				border-top-color: $border-top-color_1;
				animation: animate-loading 1s linear infinite;
			}
		}
		input {
			border-radius: 0;
			box-shadow: none;
			font-size: 14px;
			padding: 10px 15px;
			&::focus {
				background-color: $background-color_4;
			}
		}
		textarea {
			border-radius: 0;
			box-shadow: none;
			font-size: 14px;
			padding: 12px 15px;
			&::focus {
				background-color: $background-color_4;
			}
		}
		button[type=submit] {
			background: #67b0d1;
			border: 0;
			padding: 10px 24px;
			color: $color_4;
			transition: 0.4s;
			&:hover {
				background: #8ec4dd;
			}
		}
	}
}
#footer {
	background: #263f49;
	padding: 0 0 30px 0;
	color: $color_4;
	font-size: 14px;
	.footer-top {
		padding: 60px 0 30px 0;
		.footer-info {
			margin-top: -90px;
			margin-bottom: 15px;
			background: white;
			color: $color_5;
			border-top: 4px solid #67b0d1;
			text-align: center;
			padding: 30px 20px;
			h3 {
				font-size: 24px;
				margin: 0 0 20px 0;
				padding: 2px 0 2px 0;
				line-height: 1;
				font-weight: 700;
			}
			p {
				font-size: 14px;
				line-height: 24px;
				margin-bottom: 0;
				font-family: $font-family_2;
			}
		}
		.social-links {
			a {
				font-size: 18px;
				display: inline-block;
				background: #2f4d5a;
				color: $color_4;
				line-height: 1;
				padding: 8px 0;
				margin-right: 4px;
				border-radius: 50%;
				text-align: center;
				width: 36px;
				height: 36px;
				transition: 0.3s;
				&:hover {
					background: #67b0d1;
					color: $color_4;
					text-decoration: none;
				}
			}
		}
		h4 {
			font-size: 16px;
			font-weight: 600;
			color: $color_4;
			position: relative;
			padding-bottom: 12px;
		}
		.footer-links {
			margin-bottom: 30px;
			ul {
				list-style: none;
				padding: 0;
				margin: 0;
				i {
					padding-right: 2px;
					color: $color_16;
					font-size: 18px;
					line-height: 1;
				}
				li {
					padding: 10px 0;
					display: flex;
					align-items: center;
					&:first-child {
						padding-top: 0;
					}
				}
				a {
					color: $color_4;
					transition: 0.3s;
					display: inline-block;
					line-height: 1;
					&:hover {
						color: $color_17;
					}
				}
			}
		}
		.footer-newsletter {
			form {
				margin-top: 30px;
				background: #fff;
				padding: 6px 10px;
				position: relative;
				border-radius: 4;
				input[type=email] {
					border: 0;
					padding: 4px;
					width: calc(100% - 110px);
				}
				input[type=submit] {
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					border: 0;
					background: none;
					font-size: 16px;
					padding: 0 20px;
					background: #67b0d1;
					color: $color_4;
					transition: 0.3s;
					border-radius: 4;
					&:hover {
						background: #409cc5;
					}
				}
			}
		}
	}
	.copyright {
		border-top: 1px solid #385b6b;
		text-align: center;
		padding-top: 30px;
	}
	.credits {
		padding-top: 10px;
		text-align: center;
		font-size: 13px;
		color: $color_4;
	}
}
@media screen and (max-width: 768px) {
	[data-aos-delay] {
		transition-delay: 0 !important;
	}
}
@media (max-width: 768px) {
	#header.header-scrolled {
		padding: 15px 0;
	}
	#hero {
		h1 {
			font-size: 28px;
			line-height: 36px;
		}
		h2 {
			font-size: 18px;
			line-height: 24px;
			margin-bottom: 30px;
		}
	}
	.breadcrumbs {
		.d-flex {
			display: block !important;
		}
		ol {
			display: block;
			li {
				display: inline-block;
			}
		}
	}
	.about {
		text-align: center;
	}
}
@media (max-width: 1366px) {
	.navbar {
		.dropdown {
			.dropdown {
				ul {
					left: -90%;
				}
				&:hover {
					>ul {
						left: -100%;
					}
				}
			}
		}
	}
}
@media (max-width: 991px) {
	.mobile-nav-toggle {
		display: block;
	}
	.navbar {
		ul {
			display: none;
		}
	}
}
@media (min-width: 1024px) {
	#hero {
		background-attachment: fixed;
	}
}
@media (max-width: 1200px) {
	.about {
		.content {
			padding-right: 0;
		}
	}
}
@media (max-width: 992px) {
	.team {
		.member {
			margin-bottom: 110px;
		}
	}
}
@media (max-width: 575px) {
	#footer {
		.footer-top {
			.footer-info {
				margin: -20px 0 30px 0;
			}
		}
	}
}